<!doctype html>
<html>
  <head>
    <title>Collabpaint</title>
    <meta charset="utf-8" />
    <style type="text/css">
      body {
        margin: 0;
      }

      #butter-bar {
        position: absolute;
        left: 0;
        background-color: yellow;
        padding: 5px;
        z-index: 1;
      }

      #butter-bar p {
        margin: 0;
        text-align: center;
      }

      #c {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36868551-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="butter-bar">
      <p>
        Click in the box below to start drawing. Collaborate with a
        friend by sharing: <a href="{{ url }}">{{ url }}</a>
      </p>
    </div>

    <canvas id="c">
      <p>Looks like your browser is not supported. :(</p>
    </canvas>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyDz1uysDhXT_dYju5GtuSsc-HUI1LM-BV8",
          authDomain: "collabpaint.firebaseapp.com",
          databaseURL: "https://collabpaint.firebaseio.com",
          projectId: "collabpaint",
          storageBucket: "",
          messagingSenderId: "754027051738"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
      var roomRef = firebase.database().ref('line-segments/{{ room_key }}/');

      var body = document.getElementsByTagName("body")[0];
      var canvas = document.getElementById("c");
      var context = canvas.getContext("2d");
      context.canvas.width = window.innerWidth;
      context.canvas.height = window.innerHeight;

      var lineSegments = [];

      var drawLine = function(from, to, color) {
        context.strokeStyle = color;
        context.beginPath();
        context.moveTo(from[0], from[1]);
        context.lineTo(to[0], to[1]);
        context.stroke();
      };

      var drawLines = function(lines) {
        for (var i = 0; i < lines.length - 1; i++) {
          drawLine(lines[i], lines[i + 1], "black");
        }
      };

      var getMousePos = function(event) {
        return {
          x: Math.round(event.clientX - body.offsetLeft),
          y: Math.round(event.clientY - body.offsetTop),
        };
      };

      var onMouseMove = function(event) {
        var pos = getMousePos(event);
        lineSegments.push([pos.x, pos.y]);
        if (lineSegments.length > 1) {
          var from = lineSegments[lineSegments.length - 2];
          var to = lineSegments[lineSegments.length - 1];
          drawLine(from, to, "grey");
        }
      };

      roomRef.on('child_added', function(lineSegments) {
          drawLines(lineSegments.val());
      });

      var eventListeners = [
        {down: "mousedown", up: "mouseup"},  // Desktop
        {down: "touchstart", up: "touchend"},  // Mobile
      ];
      for (var i = 0; i < eventListeners.length; i++) {
          var events = eventListeners[i];
          body.addEventListener(events.down, function(event) {
              body.addEventListener("mousemove", onMouseMove);
              body.addEventListener("touchmove", onMouseMove);
          });
          body.addEventListener(events.up, function(event) {
              body.removeEventListener("mousemove", onMouseMove);
              body.removeEventListener("touchmove", onMouseMove);
              if (lineSegments) {
                  roomRef.push().set(lineSegments);
                  lineSegments = [];
              }
          });
      }
    </script>
  </body>
</html>
